{% extends 'dashboard.html.twig' %}

{% block header %}

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>

  {% block stylesheets %}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

     {% endblock %}

{% endblock %}

{% block body %}


<div class="right_col" role="main" style="min-height: 3742px;">
	<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Suivie Incident <small>Liste des incidents</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">





                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
						<div class="row">

							<div class="col-sm-6">

							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">

					  <thead>
                        <tr role="row">
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 143px;">#</th>
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 143px;">Titre</th>
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 236px;">Client</th>
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 105px;">Statut</th>
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 50px;">Impact Metier</th>
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 101px;">Impact Application</th>
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 77px;">Date Debut</th>
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 77px;">Date Fin</th>
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 77px;">Niveau impact</th>
												<th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 77px;">Action</th>
												</tr>
                      </thead>


                      <tbody>

                     		{% for incident in incidents %}
					<tr>
							<td> {{incident[0].id }}     </td>
							<td> {{ incident[0].titre }} </td>
							<td> {{ incident[0].client.getClientName() }} </td>
							<td> {{ incident[0].statut }} </td>
							<td>
										{% if incident[0].impactMetier %}
												{% set metierImpactes = incident[0].impactMetier %}
												{% for metierImpacte in metierImpactes %}
												<ul>
													<li> 	{{ metierImpacte.nomMetier }} </li>
												</ul>
												{% endfor %}
										{% else %}
										 Pas d'impact metier
										 {% endif %}
							</td>
							<td>

							{% if incident[0].impactApplication %}
									{% set applicationImpactees = incident[0].impactApplication %}
									{% for applicationImpactee in applicationImpactees %}
									<ul>
										<li> 	{{ applicationImpactee.nomApplication }} </li>
									</ul>
									{% endfor %}
							{% else %}
							 Pas d'impact metier
							 {% endif %}

							</td>
							<td>
							{% if incident[0].dateDebut != null %}
								{{ incident[0].dateDebut | date("F jS \\a\\t g:ia","Europe/Paris") }}
							{% else %}
								<span style="color:red">	Non connue  </span>
							{% endif %}
							</td>
							<td>
							{% if incident[0].dateFin != null %}
								{{ incident[0].dateFin | date("F jS \\a\\t g:ia")}}
							{% else %}
								<span style="color:red">En cours  </span>
							{% endif %}

							</td>

							<td> {{ incident[0].impact.nomImpact }} </td>
							<td> <a href="{{path('pos_add',{'idIncident' : incident[0].Id })}}" class="btn btn-default btn-xs"> <i class="glyphicon glyphicon-plus"></i> Pos </a>
							<a href="{{path('incident_history',{'idIncident' : incident[0].Id })}}" class="btn btn-default btn-xs"> <i class="glyphicon glyphicon-menu-hamburger"></i> Historique </a>
							 <a href="{{path('incident_delete',{'idIncident' : incident[0].Id })}}" class="btn btn-default btn-xs" onclick="return confirm('Vous êtes sure de vouloir supprimer lincident ? Cette action est irréversible ')"> <i class="glyphicon glyphicon-trash"></i> Supprimer  </a>
							 <a href="{{path('diffusion_send',{'idIncident' : incident[0].Id, 'idClient' :  incident[0].client.getId() })}}" class="btn btn-default btn-xs"> <i class="glyphicon glyphicon-envelope"></i> Envoyer mail </a>
							 <a href="{{path('incident_clone',{'idIncident' : incident[0].Id, 'idIncident' :  incident[0].Id })}}" class="btn btn-default btn-xs"> <i class="glyphicon glyphicon-duplicate"> </i>  Cloner </a>
							 <a href="{{path('incident_clore',{'idIncident' : incident[0].Id, 'idIncident' :  incident[0].Id })}}" class="btn btn-default btn-xs"> <i class="glyphicon glyphicon-thumbs-up"> </i> clore  </a>
							 <a href="{{path('incident_update',{'idIncident' : incident[0].Id, 'idIncident' :  incident[0].Id })}}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"> </i>  Mettre à jour </a>

							</td>



						</div>
					</tr>
 		{% endfor %}


						</tbody>
                    </table>
					</div></div>


				  </div>



					</div>
                  </div>
                </div>





</div>




{% endblock %}

	{% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}
