{% extends 'dashboard.html.twig' %}

{% block header %}

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
  {% block stylesheets %}
	  
	{% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	  
	 {% endblock %}


{% endblock %}

{% block body %}




<div class="right_col" role="main">
<div class="col-md-12">
	<div class="x_panel">
	  <div class="x_title">
		<h2> Timeline </h2>
		<ul class="nav navbar-right panel_toolbox">
		  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
			<ul class="dropdown-menu" role="menu">
			  <li><a href="#">Settings 1</a>
			  </li>
			  <li><a href="#">Settings 2</a>
			  </li>
			</ul>
		  </li>
		  <li><a class="close-link"><i class="fa fa-close"></i></a>
		  </li>
		</ul>
		<div class="clearfix"></div>
	  </div>
	  <div class="x_content">
			
<ul class="timeline">
		
		
		{% for  action in history %}
			{% if action.id % 2 == 0 %}
					        <li>
						<div class="timeline-badge info"><i class="glyphicon glyphicon-envelope"></i></div>
						<div class="timeline-panel">
						  <div class="timeline-heading">
							<h4 class="timeline-title"> Envoi de mail </h4>
							<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ action.dateEnvoi | date("F jS \\a\\t g:ia","Europe/Paris")}}  </small></p>
						  </div>
            <div class="timeline-body">
             <p>
			 <h5> Destinataires : </h5> 
				 {{ action.destinataire }}

				<br/> 
				 <h5> Destinataires CC : </h5>
				{{ action.destEnCopie }}
				
				<br/>
				<hr class="half-rule"/>
				<h5> Categorie :
					{% for categorie in action.template.categorie %}
						{{ categorie.nomCategorie }}
					{% endfor %}
				</h5>
				<p> Envoyé par : {{ action.emetteur }}</p> <br>
				<div class="modal fade bs-example-modal-lg" id="{{action.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						<div class="modal-dialog modal-lg" role="document">
						  <div class="modal-content">
							{{ action.contenu | raw }}
						  </div>
						</div>
					  </div>

					
				
				</p>
					 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{action.id}}">
					Afficher mail 
				</button>
            </div>
						</div>
					  </li>
		{% else  %}
			    <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-envelope"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Envoi de mail </h4>
			  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ action.dateEnvoi | date("F jS \\a\\t g:ia","Europe/Paris")}}  </small></p>
            </div>
            <div class="timeline-body">
             <p>
			 <h5> Destinataires : </h5> 
				 {{ action.destinataire }}

				<br/> 
				 <h5> Destinataires CC : </h5>
				{{ action.destEnCopie }}
				
				<br/>
				<hr class="half-rule"/>
				<h5>
					{% for categorie in action.template.categorie %}
						{{ categorie.nomCategorie }}
					{% endfor %}
				</h5>
				<p> Envoyé par : {{ action.emetteur }}</p><br>
				<div class="modal fade bs-example-modal-lg" id="{{action.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
						<div class="modal-dialog modal-lg" role="document">
						  <div class="modal-content">
							{{ action.contenu | raw }}
						  </div>
						</div>
					  </div>

					
				
				</p>
					 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{action.id}}">
					Afficher mail 
				</button>
            </div>
        </li>
	{% endif %}
	

{% endfor %}
		
		
        
 

    </ul>

    


    </div>
</div>
</div>
</div>



<!-- Modal -->


{% endblock %}

	{% block javascripts %}
		{% javascripts '@AppBundle/Resources/public/js/*' %}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
	  {% endblock %}


