{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>



  {% block stylesheets %}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

     {% endblock %}
{% endblock %}

{% block body %}

<div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">

                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

<h1> Envoyer un mail  </h1>




 {{ form_start(addForm) }}
 
    <label class="control-label col-xl-md-3 col-sm-3 col-xs-12" for="diffusion[destEnCopie][]"> Destinataire  <span class="required">*</span>
	</label>
	{{form_widget(addForm.destinataire, { 'attr' : { 'class' : 'form-control'}  })  }}



    <label class="control-label col-xl-md-3 col-sm-3 col-xs-12" for="diffusion[destinataire]">  Destinataire en copie  <span class="required">*</span>
	</label>

	{{form_widget(addForm.destEnCopie, { 'attr' : { 'class' : 'form-control' ,'style' : 'height:200px;'}  })  }}


    <label class="" for="diffusion[destinataire]">  Sujet  <span class="required">*</span>
	</label>

	{{form_widget(addForm.sujet, { 'attr' : { 'class' : 'form-control'}  })  }}
 

    <label class="" for="diffusion[destinataire]">  Variables  <span class="required">*</span>
	</label>

	{{form_widget(addForm.variables, { 'attr' : { 'class' : ''}  })  }}
	<a id="valider_filter" class="btn btn-default btn-xs"> <i class="glyphicon glyphicon-pencil"> </i> Appliquer modifications </a> 
        <a id="reinitialiser" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-trash"> </i> Reinitialiser </a> <br>

    <label class="" for="diffusion[variables]">  Template  <span class="required">*</span>
	</label>

	{{form_widget(addForm.contenu) }}



<br>
<input type='submit' value="Envoyer" class="btn btn-success btn-lg">
{{ form_end(addForm) }}





                  </div>
                  </div>
                </div>
              </div>
        </div>




{% endblock %}

    {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}
