{% extends 'dashboard.html.twig' %}

{% block header %}
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}
{% endblock %}

{% block body %}

{% set pageTitle = "Ajouter Client "%}

<div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Modifier Client <small> Décrire l'incident en Français</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
		    
		      {% if success is defined %}
                        {% if success != null %}
                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                        {{  success }}                
                    </div>
			{%endif %}
		{%endif %}
		
                {% if errors is defined %}
                        {% if errors != null %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">

                                        <ul> 
                                        {% for error in errors %}
                                                <li> {{ error.message }} </li>
                                        {% endfor%}
                                        </ul>

                                    </div>
                {%endif %}
		{%endif %}

 {{ form_start(form, { 'attr' : { 'id' : 'demo-form2', 'data-parsley-validate': '', 'class' : 'form-horizontal form-label-left', 'novalidate': ''  } } ) }}

  <div class="form-group">
    <label class="control-label col-xl-md-3 col-sm-3 col-xs-12" for="last-name"> Nom Client  <span class="required">*</span>
	</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
	{{ form_widget(form.clientName, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'Nom Client' } }) }}
    </div>
 </div>
  
  
    <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Langue <span class="required">*</span>
	</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
	{{ form_widget(form.lang, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'ex. FR,EN' } }) }}
    </div>
 </div>
    
    <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Timezone <span class="required">*</span>
	</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
	{{ form_widget(form.timezone, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'Timezone' } }) }}
    </div>
 </div>
    
 <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Sujet <span class="required">*</span>
	</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
	{{ form_widget(form.templateSubject, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'Sujet pour le mail' } }) }}
    </div>
 </div>
 
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Template <span class="required">*</span>
	</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
	{{ form_widget(form.template)}}
    </div>
 </div>
    <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">  <span class="required"></span>
	</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
	<input type="submit" class="btn btn-success" value="Ajouter Client"> </input>
    </div>
 </div>





{{ form_end(form) }}

                  </div>
                  </div>
                </div>
              </div>


<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Ajouter Incident <small>Décrire l'incident en Français</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

              <h3 class="box-title"> Client</h3>
            
<table class="table table-bordered table-hover dataTable">
    <tr>
      <td> NOM </td>
      <td> LANGUE </td>
      <td> ACTION </td>
    </tr>

    {% for clef, client in clients %}
    <tr>
        <td> {{ client[0].clientName }} </td>
        <td> {{ client[0].lang }} </td>
        <td>
            <a class="btn btn-round btn-danger" href="{{path('incident_add',{'idClient' : client[0].id })}}"> Ajouter Incident </a>
            <a class="btn btn-round btn-warning" href="{{path('client_update',{'idClient' : client[0].id })}}"> Modifier Client </a> 
        </td>
    </tr>
    {% endfor %}

</table>


                  </div>
                  </div>
                </div>
        </div>
        </div>

{% endblock %}

 {% block javascripts %}
	    {% javascripts '@AppBundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
      {% endblock %}